table {
    width: 100%; 
}
mat-spinner{
    margin-top: 15px;
    margin-bottom: 15px;
}
  .loading-spinner{
    background: rgba(0,0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .textoDireita{
    text-align: right;
  }
  

  